/* Body */
body {
    line-height: 1.6;
    font-size: 16px;
    background-color: lightgrey;
    color: #333;
    padding-top: 70px; 
    position: relative;
    overflow: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Aplica el blur solo a la imagen de fondo */
    z-index: -1; /* Asegura que esté detrás de todo el contenido */
    opacity: 1.7; /* Ajusta la opacidad de la imagen para oscurecerla */
    background-color: rgba(0, 0, 0, 0.5); /* Capa de color negro semi-transparente */
    mix-blend-mode: darken; /* Mezcla el color negro con la imagen de fondo */
}

.login-container {
    background-color: rgba(56, 56, 56, 0.9); /* Fondo con transparencia */
    padding: 60px 40px; /* Reducido el padding para que se ajuste mejor */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto; /* Centramos vertical y horizontalmente */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 70px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    text-align: center;
}

h1 {
    color: #000;
    font-size: 24px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px 15px; /* Mayor padding dentro de los campos de texto */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #011c07;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    text-align: center; /* Centra el texto dentro del botón */
   
    margin-left: 15px;
}

button[type="submit"]:hover {
    background-color: #ff8000b6;
}

a {
    color: #ff8000b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #934a00b6;
}

.logo {
    width: 210px; /* Incrementamos el tamaño del logo */
    margin-bottom: 20px;
    height: auto; /* Mantiene la proporción del logo */
    display: block;
    margin-left: auto;
    margin-right: auto; /* Centramos el logo */
    padding-left: 24px;
}

.form-image {
    width: 100%;
    max-width: 250px; /* Ajusta según sea necesario */
    height: auto;
    margin: 20px 0;
    padding-left: 10px;
}
