<!-- footer.html -->
 {% load static %}
<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <h5>Porsche</h5>
        <p>
            Porsche es un fabricante de automóviles de lujo con una rica historia en el diseño y la ingeniería de vehículos deportivos. Desde su fundación en 1931, Porsche ha sido sinónimo de innovación y rendimiento excepcional. Nuestra misión es ofrecer automóviles que proporcionen una experiencia de conducción única y emocionante.
        </p>
        <p>
            <strong>Contacto:</strong> info@porsche.com | <strong>Teléfono:</strong> +1 800 123 4567
        </p>
        <p>
            Síguenos en nuestras redes sociales:
        </p>
        <div class="social-icons">
            <a href="https://www.facebook.com/Porsche" target="_blank" class="text-white mr-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/Porsche" target="_blank" class="text-white mr-2">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/porsche" target="_blank" class="text-white">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <p class="mt-3">
            &copy; 2024 Porsche. Todos los derechos reservados.
        </p>
    </div>
</footer>

<!-- Include FontAwesome for social icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
