{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}">
</head>
<body>
    <div class="login-container">
        <center><img class="logo" src="{% static 'favicon.png' %}" alt="Favicon"></center>
        <h1>
            <center><a href="{% url 'login' %}" class="text-decoration-none">Iniciar Sesión</a> | 
            <a href="{% url 'register' %}" class="text-decoration-none">Registrarse</a></center>
        </h1>
        <br>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nombre de usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <br>
            <br>
            <button type="submit">Ingresar</button>
        </form>
    </div>
    <br>
    <script src="{% static 'contact-form.js' %}"></script>
    {% include 'footer.html' %}
</body>
</html>
