{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}"> 
    <style>
        .product .btn-info {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    {% include 'navbar.html' %}
    
    <div class="container mt-5">
        <h1 style="color: white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" class="text-center mb-4">Productos de Porsche</h1>
        
        <!-- Primer Apartado -->
        {% for producto in productos %}
        <div class="row product mb-5">
            <div class="col-md-6">
                <img src="{{ producto.image.url }}" alt="{{ producto.title }}" class="img-fluid">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2>{{ producto.title }}</h2>
                <p>{{ producto.content }}</p>
                <button 
                    class="btn btn-info" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#info{{ forloop.counter0 }}" 
                    aria-expanded="false" 
                    aria-controls="info911"
                >
                    Más Información
                </button>
                <div class="collapse" id="info{{ forloop.counter0 }}">
                    <div class="card card-body mt-2">
                        <p><strong>Precio:</strong> ${{ producto.price }}</p>
                        <p><strong>Año:</strong> {{ producto.year }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% include 'footer.html' %}
</body>
</html>
